<h1>All Meal Records</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Snack</th>
    <th>Dinner</th>
    <th>Chapati Count</th>
    <th>Actions</th>
  </tr>

  <% @daily_meal_records.each do |meal| %>
    <tr>
      <td><%= meal.date %></td>
      <td><%= meal.snack %></td>
      <td><%= meal.dinner %></td>
      <td><%= meal.chapati_count %></td>
      <td>
        <%= link_to "Show", meal %> |
        <%= link_to "Edit", edit_daily_meal_record_path(meal) %> |
        <%= link_to "Delete", daily_meal_record_path(meal), method: :delete, 
        data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this meal?" }  %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Add New Meal", new_daily_meal_record_path %>
