<h1>New Meal Record</h1>

<%= form_with model: @daily_meal_record do |f| %>
  <p>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </p>
  <p>
    <%= f.label :snack %>
    <%= f.text_field :snack %>
  </p>
  <p>
    <%= f.label :dinner %>
    <%= f.text_field :dinner %>
  </p>
  <p>
    <%= f.label :chapati_count %>
    <%= f.number_field :chapati_count %>
  </p>

  <%= f.submit "Save Meal" %>
<% end %>

<%= link_to "Back to List", daily_meal_records_path %>
