<h1>All Feedbacks</h1>

<table>
  <thead>
    <tr>
      <th>Ratings for snack</th>
      <th>Comments for snack</th>
      <th>Ratings for dinner</th>
      <th>Comments for dinner</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.rating_for_snack %></td>
        <td><%= feedback.comments_for_snack %></td>
        <td><%= feedback.rating_for_dinner %></td>
        <td><%= feedback.comments_for_dinner %></td>
        <td>
          <%= link_to 'View', feedback_path(feedback) %> |
          <%= link_to 'Edit', edit_feedback_path(feedback) %> |
          <%= link_to 'Delete', feedback_path(feedback), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Feedback', new_feedback_path %>
