<h1>Feedback Details</h1>

<p><strong>Rating for Snack:</strong> <%= @feedback.rating_for_snack %></p>
<p><strong>Comment for Snack:</strong> <%= @feedback.comments_for_snack %></p>
<p><strong>Rating for Dinner:</strong> <%= @feedback.rating_for_dinner %></p>
<p><strong>Comment for Dinner:</strong> <%= @feedback.comments_for_dinner %></p>

<%= link_to 'Back to Feedbacks', feedbacks_path %> |
<%= link_to 'Edit Feedback', edit_feedback_path(@feedback) %> |
<%= link_to 'Delete Feedback', feedback_path(@feedback), method: :delete, data: { confirm: "Are you sure?" } %>
