<%= stylesheet_link_tag "application", media: "all" %>
<body style="background: url('<%= asset_path('Food.jpg') %>') no-repeat center center/cover;">

<div class="wrapper">
    <div class="glass-box"></div>
    <div class="container">
        <div class="left-box">
            <h2 class="brand">arieoMeals</h2>
        </div>
        <div class="reset-box">
            <h2>Reset Password</h2>

            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= render "users/shared/error_messages", resource: resource %>

                <label for="email">Email</label>
                <%= f.email_field :email, id: "email", placeholder: "Enter your email", required: true, autofocus: true, autocomplete: "email" %>

                <button type="submit" class="btn">Send Reset Instructions</button>
                <button type="button" class="btn" onclick="window.location.href='<%= new_user_session_path %>'">Back to Login</button>
            <% end %>

        </div>
    </div>
</div>
