<aside class="sidebar">
    <h2 class="logo">arieoMeals</h2>
        <nav>
            <ul>
                <li class="<%= 'active' if current_page?(admin_daily_meal_records_path) %> nav-btn">
                    <%= link_to admin_daily_meal_records_path, class: "btn-link" do %>
                    <i class="fas fa-utensils"></i> Daily Meals Records
                    <% end %>
                </li>
                <li class="<%= 'active' if current_page?(admin_feedbacks_path) %> nav-btn">
                    <%= link_to admin_feedbacks_path, class: "btn-link" do %>
                        <i class="fas fa-comment-dots"></i> Feedback
                    <% end %>
                </li>
            </ul>
        </nav>
        <%= button_to destroy_user_session_path, method: :delete, class: "logout-btn" do %>
            <i class="fas fa-sign-out-alt"></i> Logout
          <% end %>
          
</aside>