<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - arieoMeals</title>
    <%= stylesheet_link_tag "Register", media: "all" %>
</head>
<body>
    <body style="background: url('<%= asset_path('food.jpg') %>') no-repeat center center/cover;">
    <div class="wrapper">
        <div class="glass-box"></div>
        <div class="container">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
            <div class="left-box">
                <h2 class="brand">arieoMeals</h2>
                <%= image_tag "chef.png", alt: "arieoMeals img", class: "transparent-img" %>
            </div>
            <div class="register-box">
                <h2>Register</h2>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= render "users/shared/error_messages", resource: resource %>
                     <label for="name">Name</label>
                    <%= f.text_field :name, id: "name", placeholder: "Enter your Name", required: true %>

                    <label for="email">Email</label>
                    <%= f.email_field :email, id: "email", placeholder: "Enter your email", required: true %>

                    <label for="password">Password</label>
                    <div class="password-wrapper">
                        <%= f.password_field :password, id: "password", placeholder: "Enter your password", required: true %>
                    </div>

                    <label for="confirm-password">Re-Enter Password</label>
                    <div class="password-wrapper">
                        <%= f.password_field :password_confirmation, id: "re-enter-password", placeholder: "Re-Enter your password", required: true %>
                    </div>
                    
                    <div class="actions">
                        <%= f.submit "Register", class: "btn" %>
                    </div>
                <% end %>

                <p class="or-text">or</p>
                <p class="login-text">Already have an account? <%= link_to "Login Here", new_session_path(resource_name) %></p>
            </div>
        </div>
    </div>
</body>
</html>
